<!doctype html>
<html ng-app="simple" >
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="../../lib/ionic/css/ionic.min.css">
    <script src="../../lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="../../pages-data.js"></script>


  <script src="index.js"></script>

</head>
<body>



<div class="demo-content-pane">



<ion-header-bar class="bar-positive">
  <h1 class="title">
    Toggle: Simple Usage
  </h1>
</ion-header-bar>
<ion-content ng-controller="MainCtrl" class="padding">
  <h4>Your pizza has {{toppings()}}!</h4>
  <ion-toggle ng-model="pizza.pepperoni">
    Pepperoni?
  </ion-toggle>
  <ion-toggle ng-model="pizza.sausage" toggle-class="toggle-energized">
    Sausage?
  </ion-toggle>
  <ion-toggle ng-model="pizza.jalapenos" toggle-class="toggle-calm">
    Jalapeno?
  </ion-toggle>
  <ion-toggle ng-model="pizza.anchovies" toggle-class="toggle-royal">
    Anchovies?
  </ion-toggle>
</ion-content>

</div>
<div class="bar bar-footer bar-light demo-footer">

</div>

</body>
</html>

